
<!-- Update Form -->
<h1 ng-init="testCtrl.editTest()" class="h2 border-bottom text-center">Edit Test Details</h1>
<form ng-submit="testCtrl.submitEditedTest()" style="margin-top: 30px;">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-6 ">
			<div class="card text-center ">
				<div class="card-header ">
					<b>Please Fill In The Details</b>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Test Name" ng-model="testCtrl.testName" type="text"  autofocus required>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Test Description" ng-model="testCtrl.testDesc" type="text"  required>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="number" string-to-number class="form-control" placeholder="Test Duration in Minutes" ng-model="testCtrl.testTime"  required>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<textarea rows="8" class="form-control" placeholder="Test Instructions..." ng-model="testCtrl.testInstructions" type="text" required></textarea>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save & Submit" required>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
