<!-- Navbar -->
<div class="bg-white ">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">

			<h5 class="navbar-brand my-0 mr-md-auto font-weight-normal">ExamGround</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="/login">Login</a>
			</nav>
			<a class="btn btn-outline-primary" href="/signup">Sign up</a>
		</div>
	</div>
</div>


<!-- Banner -->

<section id="banner">
	<div class="container">
		<h2><strong>ExamGround</strong> is a live test taking system</h2>
		<p>Prepare candidates to perform extraordinarily with an easy to use highly interactive platform and simplify the assessment cycle.</p>
		<button type="button" class="btn btn-lg btn-success">Learn More</button>
	</div>
</section>



<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		&copy; ExamGround 2018
	</div>
</footer>